section.section.section--8(data-scroll-section data-router-page="roadmap")
    .container
        .title.title-xl.mb-31.text-center(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
            | Roadmap
        .roadmap
            .roadmap__inner
                .roadmap__item.roadmap__item--1
                    .roadmap__fisrtimage(data-scroll data-scroll-delay="0.05" data-scroll-speed="1" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/1.png`)
                    .roadmap__content(data-scroll data-scroll-delay="0.1" data-scroll-speed="1" data-scroll-repeat)
                        .roadmap__title
                            span.title-xl
                                span
                                    | Q1
                            .roadmap__insert
                                | 2023

                        .roadmap__text.roadmap__text--1.text-md.color-black.text-center
                            | Website creation, Whitepaper, Whitelist, NGO Partnerships
                    .roadmap__lastimage(data-scroll data-scroll-delay="0.1" data-scroll-speed="0.5" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/1-1.png`)
                .roadmap__item.roadmap__item--2
                    .roadmap__fisrtimage(data-scroll data-scroll-delay="0.1" data-scroll-speed="1" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/2.png`)
                    .roadmap__content(data-scroll data-scroll-delay="0.15" data-scroll-speed="0.5" data-scroll-repeat)
                        .roadmap__title
                            span.title-xl
                                span
                                    | Q2
                            .roadmap__insert
                                | 2023

                        .roadmap__text.roadmap__text--2.text-md.color-black.text-center
                            | Agree comic team, Storyboard Comic, Design Climate Kingdoms, Launch Comic
                    .roadmap__lastimage(data-scroll data-scroll-delay="0.15" data-scroll-speed="1" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/2-2.png`)
                .roadmap__item.roadmap__item--3
                    .roadmap__fisrtimage(data-scroll data-scroll-delay="0.1" data-scroll-speed="1.5" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/3.png`)
                    .roadmap__content(data-scroll data-scroll-delay="0.2" data-scroll-speed="1" data-scroll-repeat)
                        .roadmap__title
                            span.title-xl
                                span
                                    | Q3
                            .roadmap__insert
                                | 2023

                        .roadmap__text.roadmap__text--3.text-md.color-black.text-center
                            | Release MVP Climate Kingdoms
                    .roadmap__lastimage(data-scroll data-scroll-delay="0.2" data-scroll-speed="0.5" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/3-3.png`)

            .roadmap__svg
                <svg width="1297" height="892" viewBox="0 0 1297 892" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="transparent" d="M4.01516 445.415C4.01516 445.415 48.7793 425.811 116.352 456.94C183.925 488.07 230.675 465.951 309.208 410.486C387.742 355.022 439.606 404.213 494.749 432.597C549.892 460.981 583.691 481.078 623.532 451.78C663.373 422.483 683.387 332.846 796.138 434.929C908.889 537.012 914.3 410.176 1032.28 457.054C1150.26 503.932 1182.42 411.306 1292.09 446.543" stroke="url(#paint0_linear_520_199)" stroke-width="8" stroke-linecap="round"/>
                <rect x="194.376" y="429.973" width="64" height="64" rx="32" fill="url(#paint1_linear_520_199)" stroke="#141920" stroke-width="8"/>
                <path d="M221.715 471.261C220.339 471.261 219.107 470.925 218.019 470.253C216.931 469.565 216.075 468.573 215.451 467.277C214.827 465.981 214.515 464.413 214.515 462.573C214.515 460.733 214.827 459.165 215.451 457.869C216.075 456.573 216.931 455.589 218.019 454.917C219.107 454.229 220.339 453.885 221.715 453.885C223.107 453.885 224.339 454.229 225.411 454.917C226.499 455.589 227.355 456.573 227.979 457.869C228.603 459.165 228.915 460.733 228.915 462.573C228.915 464.413 228.603 465.981 227.979 467.277C227.355 468.573 226.499 469.565 225.411 470.253C224.339 470.925 223.107 471.261 221.715 471.261ZM221.715 467.973C222.371 467.973 222.939 467.789 223.419 467.421C223.915 467.053 224.299 466.469 224.571 465.669C224.859 464.869 225.003 463.837 225.003 462.573C225.003 461.309 224.859 460.277 224.571 459.477C224.299 458.677 223.915 458.093 223.419 457.725C222.939 457.357 222.371 457.173 221.715 457.173C221.075 457.173 220.507 457.357 220.011 457.725C219.531 458.093 219.147 458.677 218.859 459.477C218.587 460.277 218.451 461.309 218.451 462.573C218.451 463.837 218.587 464.869 218.859 465.669C219.147 466.469 219.531 467.053 220.011 467.421C220.507 467.789 221.075 467.973 221.715 467.973ZM233.302 470.973V455.613L234.982 457.293H229.942V454.173H237.19V470.973H233.302Z" fill="white"/>
                <rect x="616" y="385" width="64" height="64" rx="32" fill="url(#paint2_linear_520_199)" stroke="#141920" stroke-width="8"/>
                <path d="M641.46 426.288C640.084 426.288 638.852 425.952 637.764 425.28C636.676 424.592 635.82 423.6 635.196 422.304C634.572 421.008 634.26 419.44 634.26 417.6C634.26 415.76 634.572 414.192 635.196 412.896C635.82 411.6 636.676 410.616 637.764 409.944C638.852 409.256 640.084 408.912 641.46 408.912C642.852 408.912 644.084 409.256 645.156 409.944C646.244 410.616 647.1 411.6 647.724 412.896C648.348 414.192 648.66 415.76 648.66 417.6C648.66 419.44 648.348 421.008 647.724 422.304C647.1 423.6 646.244 424.592 645.156 425.28C644.084 425.952 642.852 426.288 641.46 426.288ZM641.46 423C642.116 423 642.684 422.816 643.164 422.448C643.66 422.08 644.044 421.496 644.316 420.696C644.604 419.896 644.748 418.864 644.748 417.6C644.748 416.336 644.604 415.304 644.316 414.504C644.044 413.704 643.66 413.12 643.164 412.752C642.684 412.384 642.116 412.2 641.46 412.2C640.82 412.2 640.252 412.384 639.756 412.752C639.276 413.12 638.892 413.704 638.604 414.504C638.332 415.304 638.196 416.336 638.196 417.6C638.196 418.864 638.332 419.896 638.604 420.696C638.892 421.496 639.276 422.08 639.756 422.448C640.252 422.816 640.82 423 641.46 423ZM650.312 426V423.48L656.792 417.36C657.304 416.896 657.68 416.48 657.92 416.112C658.16 415.744 658.32 415.408 658.4 415.104C658.496 414.8 658.544 414.52 658.544 414.264C658.544 413.592 658.312 413.08 657.848 412.728C657.4 412.36 656.736 412.176 655.856 412.176C655.152 412.176 654.496 412.312 653.888 412.584C653.296 412.856 652.792 413.28 652.376 413.856L649.544 412.032C650.184 411.072 651.08 410.312 652.232 409.752C653.384 409.192 654.712 408.912 656.216 408.912C657.464 408.912 658.552 409.12 659.48 409.536C660.424 409.936 661.152 410.504 661.664 411.24C662.192 411.976 662.456 412.856 662.456 413.88C662.456 414.424 662.384 414.968 662.24 415.512C662.112 416.04 661.84 416.6 661.424 417.192C661.024 417.784 660.432 418.448 659.648 419.184L654.272 424.248L653.528 422.832H663.008V426H650.312Z" fill="white"/>
                <rect x="1038" y="435" width="64" height="64" rx="32" fill="url(#paint3_linear_520_199)" stroke="#141920" stroke-width="8"/>
                <path d="M1063.51 476.288C1062.13 476.288 1060.9 475.952 1059.81 475.28C1058.72 474.592 1057.87 473.6 1057.24 472.304C1056.62 471.008 1056.31 469.44 1056.31 467.6C1056.31 465.76 1056.62 464.192 1057.24 462.896C1057.87 461.6 1058.72 460.616 1059.81 459.944C1060.9 459.256 1062.13 458.912 1063.51 458.912C1064.9 458.912 1066.13 459.256 1067.2 459.944C1068.29 460.616 1069.15 461.6 1069.77 462.896C1070.4 464.192 1070.71 465.76 1070.71 467.6C1070.71 469.44 1070.4 471.008 1069.77 472.304C1069.15 473.6 1068.29 474.592 1067.2 475.28C1066.13 475.952 1064.9 476.288 1063.51 476.288ZM1063.51 473C1064.16 473 1064.73 472.816 1065.21 472.448C1065.71 472.08 1066.09 471.496 1066.36 470.696C1066.65 469.896 1066.8 468.864 1066.8 467.6C1066.8 466.336 1066.65 465.304 1066.36 464.504C1066.09 463.704 1065.71 463.12 1065.21 462.752C1064.73 462.384 1064.16 462.2 1063.51 462.2C1062.87 462.2 1062.3 462.384 1061.8 462.752C1061.32 463.12 1060.94 463.704 1060.65 464.504C1060.38 465.304 1060.24 466.336 1060.24 467.6C1060.24 468.864 1060.38 469.896 1060.65 470.696C1060.94 471.496 1061.32 472.08 1061.8 472.448C1062.3 472.816 1062.87 473 1063.51 473ZM1077.81 476.288C1076.64 476.288 1075.48 476.136 1074.33 475.832C1073.18 475.512 1072.2 475.064 1071.4 474.488L1072.91 471.512C1073.55 471.976 1074.3 472.344 1075.15 472.616C1075.99 472.888 1076.85 473.024 1077.71 473.024C1078.69 473.024 1079.46 472.832 1080.02 472.448C1080.58 472.064 1080.86 471.536 1080.86 470.864C1080.86 470.224 1080.61 469.72 1080.11 469.352C1079.62 468.984 1078.82 468.8 1077.71 468.8H1075.94V466.232L1080.62 460.928L1081.05 462.32H1072.24V459.2H1084V461.72L1079.35 467.024L1077.38 465.896H1078.51C1080.57 465.896 1082.13 466.36 1083.19 467.288C1084.24 468.216 1084.77 469.408 1084.77 470.864C1084.77 471.808 1084.52 472.696 1084.03 473.528C1083.53 474.344 1082.77 475.008 1081.75 475.52C1080.72 476.032 1079.41 476.288 1077.81 476.288Z" fill="white"/>
                <defs>
                <linearGradient id="paint0_linear_520_199" x1="4.00001" y1="457" x2="1292" y2="430" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738" stop-opacity="0"/>
                <stop offset="0.120412" stop-color="#55AC48"/>
                <stop offset="0.868386" stop-color="#17906D"/>
                <stop offset="1" stop-color="#148F6F" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint1_linear_520_199" x1="226.376" y1="429.973" x2="226.376" y2="493.973" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738"/>
                <stop offset="1" stop-color="#148F6F"/>
                </linearGradient>
                <linearGradient id="paint2_linear_520_199" x1="648" y1="385" x2="648" y2="449" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738"/>
                <stop offset="1" stop-color="#148F6F"/>
                </linearGradient>
                <linearGradient id="paint3_linear_520_199" x1="1070" y1="435" x2="1070" y2="499" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738"/>
                <stop offset="1" stop-color="#148F6F"/>
                </linearGradient>
                </defs>
                </svg>

