section.section.section--8(data-scroll-section data-router-page="roadmap")
    .container
        .title.title-xl.mb-31.text-center(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
            | Roadmap
        .roadmap
            .roadmap__inner
                .roadmap__item.roadmap__item--1
                    .roadmap__fisrtimage(data-scroll data-scroll-delay="0.05" data-scroll-speed="1" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/1.png`)
                    .roadmap__content(data-scroll data-scroll-delay="0.1" data-scroll-speed="1" data-scroll-repeat)
                        .roadmap__title
                            span.title-xl
                                span
                                    | Q1
                            .roadmap__insert
                                | 2023

                        .roadmap__text.roadmap__text--1.text-md.color-black.text-center
                            | Website creation, Whitepaper, Whitelist, NGO Partnerships
                    .roadmap__lastimage(data-scroll data-scroll-delay="0.1" data-scroll-speed="0.5" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/1-1.png`)
                .roadmap__item.roadmap__item--2
                    .roadmap__fisrtimage(data-scroll data-scroll-delay="0.1" data-scroll-speed="1" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/2.png`)
                    .roadmap__content(data-scroll data-scroll-delay="0.15" data-scroll-speed="0.5" data-scroll-repeat)
                        .roadmap__title
                            span.title-xl
                                span
                                    | Q2
                            .roadmap__insert
                                | 2023

                        .roadmap__text.roadmap__text--2.text-md.color-black.text-center
                            | Agree comic team, Storyboard Comic, Design Climate Kingdoms, Launch Comic
                    .roadmap__lastimage(data-scroll data-scroll-delay="0.15" data-scroll-speed="1" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/2-2.png`)
                .roadmap__item.roadmap__item--3
                    .roadmap__fisrtimage(data-scroll data-scroll-delay="0.1" data-scroll-speed="1.5" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/3.png`)
                    .roadmap__content(data-scroll data-scroll-delay="0.2" data-scroll-speed="1" data-scroll-repeat)
                        .roadmap__title
                            span.title-xl
                                span
                                    | Q3
                            .roadmap__insert
                                | 2023

                        .roadmap__text.roadmap__text--3.text-md.color-black.text-center
                            | Release MVP Climate Kingdoms
                    .roadmap__lastimage(data-scroll data-scroll-delay="0.2" data-scroll-speed="0.5" data-scroll-repeat)
                        img.js-lazy(data-src=`${baseDir}assets/images/road-map/3-3.png`)

            .roadmap__svg
                <svg class="for-desktop" width="1297" height="892" viewBox="0 0 1297 892" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="transparent" d="M4.01516 445.415C4.01516 445.415 48.7793 425.811 116.352 456.94C183.925 488.07 230.675 465.951 309.208 410.486C387.742 355.022 439.606 404.213 494.749 432.597C549.892 460.981 583.691 481.078 623.532 451.78C663.373 422.483 683.387 332.846 796.138 434.929C908.889 537.012 914.3 410.176 1032.28 457.054C1150.26 503.932 1182.42 411.306 1292.09 446.543" stroke="url(#paint0_linear_520_199)" stroke-width="8" stroke-linecap="round"/>
                <rect x="194.376" y="429.973" width="64" height="64" rx="32" fill="url(#paint1_linear_520_199)" stroke="#141920" stroke-width="8"/>
                <path d="M221.715 471.261C220.339 471.261 219.107 470.925 218.019 470.253C216.931 469.565 216.075 468.573 215.451 467.277C214.827 465.981 214.515 464.413 214.515 462.573C214.515 460.733 214.827 459.165 215.451 457.869C216.075 456.573 216.931 455.589 218.019 454.917C219.107 454.229 220.339 453.885 221.715 453.885C223.107 453.885 224.339 454.229 225.411 454.917C226.499 455.589 227.355 456.573 227.979 457.869C228.603 459.165 228.915 460.733 228.915 462.573C228.915 464.413 228.603 465.981 227.979 467.277C227.355 468.573 226.499 469.565 225.411 470.253C224.339 470.925 223.107 471.261 221.715 471.261ZM221.715 467.973C222.371 467.973 222.939 467.789 223.419 467.421C223.915 467.053 224.299 466.469 224.571 465.669C224.859 464.869 225.003 463.837 225.003 462.573C225.003 461.309 224.859 460.277 224.571 459.477C224.299 458.677 223.915 458.093 223.419 457.725C222.939 457.357 222.371 457.173 221.715 457.173C221.075 457.173 220.507 457.357 220.011 457.725C219.531 458.093 219.147 458.677 218.859 459.477C218.587 460.277 218.451 461.309 218.451 462.573C218.451 463.837 218.587 464.869 218.859 465.669C219.147 466.469 219.531 467.053 220.011 467.421C220.507 467.789 221.075 467.973 221.715 467.973ZM233.302 470.973V455.613L234.982 457.293H229.942V454.173H237.19V470.973H233.302Z" fill="white"/>
                <rect x="616" y="385" width="64" height="64" rx="32" fill="url(#paint2_linear_520_199)" stroke="#141920" stroke-width="8"/>
                <path d="M641.46 426.288C640.084 426.288 638.852 425.952 637.764 425.28C636.676 424.592 635.82 423.6 635.196 422.304C634.572 421.008 634.26 419.44 634.26 417.6C634.26 415.76 634.572 414.192 635.196 412.896C635.82 411.6 636.676 410.616 637.764 409.944C638.852 409.256 640.084 408.912 641.46 408.912C642.852 408.912 644.084 409.256 645.156 409.944C646.244 410.616 647.1 411.6 647.724 412.896C648.348 414.192 648.66 415.76 648.66 417.6C648.66 419.44 648.348 421.008 647.724 422.304C647.1 423.6 646.244 424.592 645.156 425.28C644.084 425.952 642.852 426.288 641.46 426.288ZM641.46 423C642.116 423 642.684 422.816 643.164 422.448C643.66 422.08 644.044 421.496 644.316 420.696C644.604 419.896 644.748 418.864 644.748 417.6C644.748 416.336 644.604 415.304 644.316 414.504C644.044 413.704 643.66 413.12 643.164 412.752C642.684 412.384 642.116 412.2 641.46 412.2C640.82 412.2 640.252 412.384 639.756 412.752C639.276 413.12 638.892 413.704 638.604 414.504C638.332 415.304 638.196 416.336 638.196 417.6C638.196 418.864 638.332 419.896 638.604 420.696C638.892 421.496 639.276 422.08 639.756 422.448C640.252 422.816 640.82 423 641.46 423ZM650.312 426V423.48L656.792 417.36C657.304 416.896 657.68 416.48 657.92 416.112C658.16 415.744 658.32 415.408 658.4 415.104C658.496 414.8 658.544 414.52 658.544 414.264C658.544 413.592 658.312 413.08 657.848 412.728C657.4 412.36 656.736 412.176 655.856 412.176C655.152 412.176 654.496 412.312 653.888 412.584C653.296 412.856 652.792 413.28 652.376 413.856L649.544 412.032C650.184 411.072 651.08 410.312 652.232 409.752C653.384 409.192 654.712 408.912 656.216 408.912C657.464 408.912 658.552 409.12 659.48 409.536C660.424 409.936 661.152 410.504 661.664 411.24C662.192 411.976 662.456 412.856 662.456 413.88C662.456 414.424 662.384 414.968 662.24 415.512C662.112 416.04 661.84 416.6 661.424 417.192C661.024 417.784 660.432 418.448 659.648 419.184L654.272 424.248L653.528 422.832H663.008V426H650.312Z" fill="white"/>
                <rect x="1038" y="435" width="64" height="64" rx="32" fill="url(#paint3_linear_520_199)" stroke="#141920" stroke-width="8"/>
                <path d="M1063.51 476.288C1062.13 476.288 1060.9 475.952 1059.81 475.28C1058.72 474.592 1057.87 473.6 1057.24 472.304C1056.62 471.008 1056.31 469.44 1056.31 467.6C1056.31 465.76 1056.62 464.192 1057.24 462.896C1057.87 461.6 1058.72 460.616 1059.81 459.944C1060.9 459.256 1062.13 458.912 1063.51 458.912C1064.9 458.912 1066.13 459.256 1067.2 459.944C1068.29 460.616 1069.15 461.6 1069.77 462.896C1070.4 464.192 1070.71 465.76 1070.71 467.6C1070.71 469.44 1070.4 471.008 1069.77 472.304C1069.15 473.6 1068.29 474.592 1067.2 475.28C1066.13 475.952 1064.9 476.288 1063.51 476.288ZM1063.51 473C1064.16 473 1064.73 472.816 1065.21 472.448C1065.71 472.08 1066.09 471.496 1066.36 470.696C1066.65 469.896 1066.8 468.864 1066.8 467.6C1066.8 466.336 1066.65 465.304 1066.36 464.504C1066.09 463.704 1065.71 463.12 1065.21 462.752C1064.73 462.384 1064.16 462.2 1063.51 462.2C1062.87 462.2 1062.3 462.384 1061.8 462.752C1061.32 463.12 1060.94 463.704 1060.65 464.504C1060.38 465.304 1060.24 466.336 1060.24 467.6C1060.24 468.864 1060.38 469.896 1060.65 470.696C1060.94 471.496 1061.32 472.08 1061.8 472.448C1062.3 472.816 1062.87 473 1063.51 473ZM1077.81 476.288C1076.64 476.288 1075.48 476.136 1074.33 475.832C1073.18 475.512 1072.2 475.064 1071.4 474.488L1072.91 471.512C1073.55 471.976 1074.3 472.344 1075.15 472.616C1075.99 472.888 1076.85 473.024 1077.71 473.024C1078.69 473.024 1079.46 472.832 1080.02 472.448C1080.58 472.064 1080.86 471.536 1080.86 470.864C1080.86 470.224 1080.61 469.72 1080.11 469.352C1079.62 468.984 1078.82 468.8 1077.71 468.8H1075.94V466.232L1080.62 460.928L1081.05 462.32H1072.24V459.2H1084V461.72L1079.35 467.024L1077.38 465.896H1078.51C1080.57 465.896 1082.13 466.36 1083.19 467.288C1084.24 468.216 1084.77 469.408 1084.77 470.864C1084.77 471.808 1084.52 472.696 1084.03 473.528C1083.53 474.344 1082.77 475.008 1081.75 475.52C1080.72 476.032 1079.41 476.288 1077.81 476.288Z" fill="white"/>
                <defs>
                <linearGradient id="paint0_linear_520_199" x1="4.00001" y1="457" x2="1292" y2="430" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738" stop-opacity="0"/>
                <stop offset="0.120412" stop-color="#55AC48"/>
                <stop offset="0.868386" stop-color="#17906D"/>
                <stop offset="1" stop-color="#148F6F" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint1_linear_520_199" x1="226.376" y1="429.973" x2="226.376" y2="493.973" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738"/>
                <stop offset="1" stop-color="#148F6F"/>
                </linearGradient>
                <linearGradient id="paint2_linear_520_199" x1="648" y1="385" x2="648" y2="449" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738"/>
                <stop offset="1" stop-color="#148F6F"/>
                </linearGradient>
                <linearGradient id="paint3_linear_520_199" x1="1070" y1="435" x2="1070" y2="499" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738"/>
                <stop offset="1" stop-color="#148F6F"/>
                </linearGradient>
                </defs>
                </svg>
                <svg class="for-devices" width="360" height="817" viewBox="0 0 360 817" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="transparent" d="M176.308 20.3279C176.308 20.3279 195.777 65.1505 164.446 132.63C133.115 200.109 155.094 246.925 210.323 325.624C265.552 404.323 216.206 456.04 187.657 511.098C159.108 566.156 138.91 599.894 168.088 639.823C197.266 679.751 286.842 700.033 184.422 812.479" stroke="url(#paint0_linear_545_755)" stroke-width="8" stroke-linecap="round"/>
                <rect x="148" y="4" width="64" height="64" rx="32" fill="url(#paint1_linear_545_755)" stroke="#141920" stroke-width="8"/>
                <path d="M175.339 45.288C173.963 45.288 172.731 44.952 171.643 44.28C170.555 43.592 169.699 42.6 169.075 41.304C168.451 40.008 168.139 38.44 168.139 36.6C168.139 34.76 168.451 33.192 169.075 31.896C169.699 30.6 170.555 29.616 171.643 28.944C172.731 28.256 173.963 27.912 175.339 27.912C176.731 27.912 177.963 28.256 179.035 28.944C180.123 29.616 180.979 30.6 181.603 31.896C182.227 33.192 182.539 34.76 182.539 36.6C182.539 38.44 182.227 40.008 181.603 41.304C180.979 42.6 180.123 43.592 179.035 44.28C177.963 44.952 176.731 45.288 175.339 45.288ZM175.339 42C175.995 42 176.563 41.816 177.043 41.448C177.539 41.08 177.923 40.496 178.195 39.696C178.483 38.896 178.627 37.864 178.627 36.6C178.627 35.336 178.483 34.304 178.195 33.504C177.923 32.704 177.539 32.12 177.043 31.752C176.563 31.384 175.995 31.2 175.339 31.2C174.699 31.2 174.131 31.384 173.635 31.752C173.155 32.12 172.771 32.704 172.483 33.504C172.211 34.304 172.075 35.336 172.075 36.6C172.075 37.864 172.211 38.896 172.483 39.696C172.771 40.496 173.155 41.08 173.635 41.448C174.131 41.816 174.699 42 175.339 42ZM186.926 45V29.64L188.606 31.32H183.566V28.2H190.814V45H186.926Z" fill="white"/>
                <rect x="190" y="300" width="64" height="64" rx="32" fill="url(#paint2_linear_545_755)" stroke="#141920" stroke-width="8"/>
                <path d="M215.46 341.288C214.084 341.288 212.852 340.952 211.764 340.28C210.676 339.592 209.82 338.6 209.196 337.304C208.572 336.008 208.26 334.44 208.26 332.6C208.26 330.76 208.572 329.192 209.196 327.896C209.82 326.6 210.676 325.616 211.764 324.944C212.852 324.256 214.084 323.912 215.46 323.912C216.852 323.912 218.084 324.256 219.156 324.944C220.244 325.616 221.1 326.6 221.724 327.896C222.348 329.192 222.66 330.76 222.66 332.6C222.66 334.44 222.348 336.008 221.724 337.304C221.1 338.6 220.244 339.592 219.156 340.28C218.084 340.952 216.852 341.288 215.46 341.288ZM215.46 338C216.116 338 216.684 337.816 217.164 337.448C217.66 337.08 218.044 336.496 218.316 335.696C218.604 334.896 218.748 333.864 218.748 332.6C218.748 331.336 218.604 330.304 218.316 329.504C218.044 328.704 217.66 328.12 217.164 327.752C216.684 327.384 216.116 327.2 215.46 327.2C214.82 327.2 214.252 327.384 213.756 327.752C213.276 328.12 212.892 328.704 212.604 329.504C212.332 330.304 212.196 331.336 212.196 332.6C212.196 333.864 212.332 334.896 212.604 335.696C212.892 336.496 213.276 337.08 213.756 337.448C214.252 337.816 214.82 338 215.46 338ZM224.312 341V338.48L230.792 332.36C231.304 331.896 231.68 331.48 231.92 331.112C232.16 330.744 232.32 330.408 232.4 330.104C232.496 329.8 232.544 329.52 232.544 329.264C232.544 328.592 232.312 328.08 231.848 327.728C231.4 327.36 230.736 327.176 229.856 327.176C229.152 327.176 228.496 327.312 227.888 327.584C227.296 327.856 226.792 328.28 226.376 328.856L223.544 327.032C224.184 326.072 225.08 325.312 226.232 324.752C227.384 324.192 228.712 323.912 230.216 323.912C231.464 323.912 232.552 324.12 233.48 324.536C234.424 324.936 235.152 325.504 235.664 326.24C236.192 326.976 236.456 327.856 236.456 328.88C236.456 329.424 236.384 329.968 236.24 330.512C236.112 331.04 235.84 331.6 235.424 332.192C235.024 332.784 234.432 333.448 233.648 334.184L228.272 339.248L227.528 337.832H237.008V341H224.312Z" fill="white"/>
                <rect x="156" y="624" width="64" height="64" rx="32" fill="url(#paint3_linear_545_755)" stroke="#141920" stroke-width="8"/>
                <path d="M181.507 665.288C180.131 665.288 178.899 664.952 177.811 664.28C176.723 663.592 175.867 662.6 175.243 661.304C174.619 660.008 174.307 658.44 174.307 656.6C174.307 654.76 174.619 653.192 175.243 651.896C175.867 650.6 176.723 649.616 177.811 648.944C178.899 648.256 180.131 647.912 181.507 647.912C182.899 647.912 184.131 648.256 185.203 648.944C186.291 649.616 187.147 650.6 187.771 651.896C188.395 653.192 188.707 654.76 188.707 656.6C188.707 658.44 188.395 660.008 187.771 661.304C187.147 662.6 186.291 663.592 185.203 664.28C184.131 664.952 182.899 665.288 181.507 665.288ZM181.507 662C182.163 662 182.731 661.816 183.211 661.448C183.707 661.08 184.091 660.496 184.363 659.696C184.651 658.896 184.795 657.864 184.795 656.6C184.795 655.336 184.651 654.304 184.363 653.504C184.091 652.704 183.707 652.12 183.211 651.752C182.731 651.384 182.163 651.2 181.507 651.2C180.867 651.2 180.299 651.384 179.803 651.752C179.323 652.12 178.939 652.704 178.651 653.504C178.379 654.304 178.243 655.336 178.243 656.6C178.243 657.864 178.379 658.896 178.651 659.696C178.939 660.496 179.323 661.08 179.803 661.448C180.299 661.816 180.867 662 181.507 662ZM195.81 665.288C194.642 665.288 193.482 665.136 192.33 664.832C191.178 664.512 190.202 664.064 189.402 663.488L190.914 660.512C191.554 660.976 192.298 661.344 193.146 661.616C193.994 661.888 194.85 662.024 195.714 662.024C196.69 662.024 197.458 661.832 198.018 661.448C198.578 661.064 198.858 660.536 198.858 659.864C198.858 659.224 198.61 658.72 198.114 658.352C197.618 657.984 196.818 657.8 195.714 657.8H193.938V655.232L198.618 649.928L199.05 651.32H190.242V648.2H202.002V650.72L197.346 656.024L195.378 654.896H196.506C198.57 654.896 200.13 655.36 201.186 656.288C202.242 657.216 202.77 658.408 202.77 659.864C202.77 660.808 202.522 661.696 202.026 662.528C201.53 663.344 200.77 664.008 199.746 664.52C198.722 665.032 197.41 665.288 195.81 665.288Z" fill="white"/>
                <defs>
                <linearGradient id="paint0_linear_545_755" x1="164.723" y1="20.2785" x2="187.867" y2="1308.35" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738" stop-opacity="0"/>
                <stop offset="0.120412" stop-color="#55AC48"/>
                <stop offset="0.868386" stop-color="#17906D"/>
                <stop offset="1" stop-color="#148F6F" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="paint1_linear_545_755" x1="180" y1="4" x2="180" y2="68" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738"/>
                <stop offset="1" stop-color="#148F6F"/>
                </linearGradient>
                <linearGradient id="paint2_linear_545_755" x1="222" y1="300" x2="222" y2="364" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738"/>
                <stop offset="1" stop-color="#148F6F"/>
                </linearGradient>
                <linearGradient id="paint3_linear_545_755" x1="188" y1="624" x2="188" y2="688" gradientUnits="userSpaceOnUse">
                <stop stop-color="#6EB738"/>
                <stop offset="1" stop-color="#148F6F"/>
                </linearGradient>
                </defs>
                </svg>

