section.section.section--9(data-scroll-section data-router-page="team")
    .team(style="background: url('../assets/images/team/bg.png') center 65px no-repeat")
        .container
            .title.title-xl.mb-31.text-center(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                | Team
            .team__items
                .team__item(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
                    .team__image
                        img.js-lazy(data-src=`${baseDir}assets/images/team/1.png`)
                    .team__info
                        .title-md.mb-12
                            | Duncan
                        .text-md
                            | Partnerships
                .team__item(data-scroll data-scroll-delay="0.03" data-scroll-speed="1.1" data-scroll-repeat)
                    .team__image
                        img.js-lazy(data-src=`${baseDir}assets/images/team/2.png`)
                    .team__info
                        .title-md.mb-12
                            | Davin
                        .text-md
                            | Marketing
                .team__item(data-scroll data-scroll-delay="0.06" data-scroll-speed="1.2" data-scroll-repeat)
                    .team__image
                        img.js-lazy(data-src=`${baseDir}assets/images/team/3.png`)
                    .team__info
                        .title-md.mb-12
                            | Elle
                        .text-md
                            | Marketing
                .team__item(data-scroll data-scroll-delay="0.01" data-scroll-speed="1.3" data-scroll-repeat)
                    .team__image
                        img.js-lazy(data-src=`${baseDir}assets/images/team/4.png`)
                    .team__info
                        .title-md.mb-12
                            | Niall
                        .text-md
                            | Management
                .team__item(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                    .team__image
                        img.js-lazy(data-src=`${baseDir}assets/images/team/5.png`)
                    .team__info
                        .title-md.mb-12
                            | Paul
                        .text-md
                            | CTO
                .team__item(data-scroll data-scroll-delay="0.03" data-scroll-speed="1.1" data-scroll-repeat)
                    .team__image
                        img.js-lazy(data-src=`${baseDir}assets/images/team/6.png`)
                    .team__info
                        .title-md.mb-12
                            | Simon
                        .text-md
                            | COO
                .team__item(data-scroll data-scroll-delay="0.02" data-scroll-speed="1.2" data-scroll-repeat)
                    .team__image
                        img.js-lazy(data-src=`${baseDir}assets/images/team/7.png`)
                    .team__info
                        .title-md.mb-12
                            | Tom Brunner
                        .text-md
                            | Social Media
