section.section.section--10(data-scroll-section data-router-page="#")

    .container
        .title.title-xl.mb-31.text-center(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
            | Partnership
        .partnership
            .partnership__image.partnership__image--1.for-desktop(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
                img(data-src=`${baseDir}assets/images/partnership/1-1.png`)
            .partnership__image.partnership__image--2.for-desktop(data-scroll data-scroll-delay="0.03" data-scroll-speed="1.5" data-scroll-repeat)
                img.js-lazy(data-src=`${baseDir}assets/images/partnership/2-2.png`)
            .partnership__card(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
                img.js-lazy(data-src=`${baseDir}assets/images/partnership/1.png`)
            .partnership__card(data-scroll data-scroll-delay="0.02" data-scroll-speed="1.1" data-scroll-repeat)
                img.js-lazy(data-src=`${baseDir}assets/images/partnership/2.png`)
            .partnership__card(data-scroll data-scroll-delay="0.03" data-scroll-speed="1.2" data-scroll-repeat)
                img.js-lazy(data-src=`${baseDir}assets/images/partnership/3.png`)
            .partnership__card(data-scroll data-scroll-delay="0.01" data-scroll-speed="1.1" data-scroll-repeat)
                img.js-lazy(data-src=`${baseDir}assets/images/partnership/4.png`)
            .partnership__card(data-scroll data-scroll-delay="0.02" data-scroll-speed="1.2" data-scroll-repeat)
                img.js-lazy(data-src=`${baseDir}assets/images/partnership/5.png`)
