// - const table = [{title:'', col1:{icon: false, text: ''}}]
section.section.section--7(data-scroll-section data-router-page="#")
    .container
        .title.title-xl.mb-31
            | What does my Climateer #[span get me?]
        .get-me
            .get-me__left
                .get-me__item.get-me__item--1
                    .get-me__text
                        .title-md.mb-8
                            | Engagement
                        .text-md.lh-28
                            | By being a Climateer you have the chance to feature in all our content, including the game and comic
                    .get-me__image
                        img.js-lazy(data-src=`${baseDir}assets/images/get-me/1.png` alt="client")
                .get-me__item.get-me__item--2
                    .get-me__image
                        img.js-lazy(data-src=`${baseDir}assets/images/get-me/2.png` alt="client")
                    .get-me__text
                        .title-md.mb-8
                            | Priority
                        .text-md.lh-28
                            | You will have priority access to all our future sales and whitelists

                .get-me__item.get-me__item--3
                    .get-me__text
                        .title-md.mb-8
                            | Exclusives
                        .text-md.lh-28
                            | Real life safari visits, animal naming right, merch, first editions and much more!
                    .get-me__image
                        img.js-lazy(data-src=`${baseDir}assets/images/get-me/3.png` alt="client")
            .get-me__right.for-desktop
                img.js-lazy(data-src=`${baseDir}assets/images/get-me/4.png` alt="client")(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
        .table-outer
            .table__image.table__image--1
                img(src=`${baseDir}assets/images/get-me/5.png` alt="client")(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
            .table__image.table__image--2
                img.js-lazy(data-src=`${baseDir}assets/images/get-me/6.png` alt="client")(data-scroll data-scroll-delay="0.05" data-scroll-speed="1.5" data-scroll-repeat)

            .table

                .table__content
                    .table__top
                        .table__col.table__col--1 Benefit
                        .table__col.table__col--2 Fan
                        .table__col.table__col--3 Superfan
                        .table__col.table__col--4 Executive

                    .table__center
                        .table__item
                            .table__col.table__col--1 Appearance in comic or tv pilot
                            .table__col.table__col--2 Lottery
                            .table__col.table__col--3 Lottery
                            .table__col.table__col--4 Guaranteed
                        .table__item
                            .table__col.table__col--1 Early access to all media content
                            .table__col.table__col--2
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                            .table__col.table__col--3
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                            .table__col.table__col--4
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                        .table__item
                            .table__col.table__col--1 Access to exclusive merchandise
                            .table__col.table__col--2
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                            .table__col.table__col--3
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                            .table__col.table__col--4
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                        .table__item
                            .table__col.table__col--1 Access to future mints
                            .table__col.table__col--2
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                            .table__col.table__col--3
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                            .table__col.table__col--4
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                        .table__item
                            .table__col.table__col--1 Voting rights to certain initiatives
                            .table__col.table__col--2
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                                | Weighted
                            .table__col.table__col--3
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                                | Weighted
                            .table__col.table__col--4
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                        .table__item
                            .table__col.table__col--1 Access to events both virtual and in person
                            .table__col.table__col--2
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                            .table__col.table__col--3
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                            .table__col.table__col--4
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                                | VIP
                        .table__item
                            .table__col.table__col--1 Special thanks on productions
                            .table__col.table__col--2
                            .table__col.table__col--3
                            .table__col.table__col--4
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                        .table__item
                            .table__col.table__col--1 Opportunity to meet cast and crew
                            .table__col.table__col--2
                            .table__col.table__col--3
                            .table__col.table__col--4
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                        .table__item
                            .table__col.table__col--1 Quarterly calls with Climateers management team
                            .table__col.table__col--2
                            .table__col.table__col--3
                            .table__col.table__col--4
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
                        .table__item
                            .table__col.table__col--1 Custom Avatar
                            .table__col.table__col--2
                            .table__col.table__col--3
                            .table__col.table__col--4
                                img.js-lazy(data-src=`${baseDir}assets/images/icon/success.png` alt="client")
section.section.section--7(data-scroll-section data-router-page="#" data-scroll)
    .founds(style="background: url(../assets/images/get-me/7.png) center -78px no-repeat;")
        .container
            .title.title-xl.mb-31.text-center(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
                | Use of funds
            .founds__svg(data-scroll data-scroll-delay="0.05" data-scroll-speed="1.5" data-scroll-repeat)
                .founds__el.for-desktop
                    img.js-lazy(data-src=`${baseDir}assets/images/get-me/8.png` alt="client")
                .founds__image
                    img.for-desktop(src=`${baseDir}assets/images/get-me/graph.svg` alt="client")
                    img.for-devices(src=`${baseDir}assets/images/get-me/graph-m.svg` alt="client")


